<!-- Breadcrumb -->
<div class="mb-25">
    <h5 class="m-0">
        Mixed Charts
    </h5>
</div>

<!-- Mixed Charts -->
<div class="row">
    <div class="col-lg-6">

        <!-- Line & Column Chart -->
        <app-line-column-chart />

    </div>
    <div class="col-lg-6">

        <!-- Multiple Y-Axis Chart -->
        <app-multiple-yaxis-chart />

    </div>
    <div class="col-lg-6">

        <!-- Line & Area Chart -->
        <app-line-area-chart />

    </div>
    <div class="col-lg-6">

        <!-- Line, Column & Area Chart -->
        <app-line-column-area-chart />

    </div>
</div>