<mat-card class="trinta-card mb-25 bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Form Field with Label
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container">
            <form [formGroup]="options">
                <mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox>
                <div>
                    <label>Float label: </label>
                    <mat-radio-group [formControl]="floatLabelControl">
                        <mat-radio-button value="auto">Auto</mat-radio-button>
                        <mat-radio-button value="always">Always</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="example-form-fields">
                    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                        <input matInput placeholder="Simple placeholder" required />
                    </mat-form-field>

                    <mat-form-field [floatLabel]="floatLabel()">
                        <mat-label>Both a label and a placeholder</mat-label>
                        <input matInput placeholder="Simple placeholder" />
                    </mat-form-field>

                    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                        <mat-select required>
                            <mat-option>-- None --</mat-option>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-label><mat-icon>favorite</mat-icon> <strong> Fancy</strong> <em> label</em></mat-label>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>