<div
    class="sidebar-area bg-white transition"
    [ngClass]="{'active': isToggled}"
>
    <div class="logo bg-white">
        <a routerLink="/car-page" class="d-flex align-items-center">
          
            <span class="fw-extrabold">
                {{concessionnaire?.nom}}
            </span>
            
        </a>
    </div>
    <div
        class="burger-menu transition cursor-pointer"
        [ngClass]="{'active': isToggled}"
        (click)="toggle()"
    >
        <span class="top-bar transition bg-dark d-block"></span>
        <span class="middle-bar transition bg-dark d-block"></span>
        <span class="bottom-bar transition bg-dark d-block"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                   
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="shopping-cart"></i-feather>
                                <span class="title">
                                    Vehicules
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/car-page" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Tous les vehicules
                                </a>
                            </li>
                           
                         
                            <li class="sidemenu-item">
                                <a routerLink="/car-page/create-product" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                   Ajouter un vehicule
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                          
                    <a  (click)="logout()" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="home"></i-feather>
                        <span class="title">Se déconnecter </span>
                    </a>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>