<mat-card
    class="trinta-card add-product-card mb-25 bg-white border-none d-block"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">Add A Product</h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="vehiculeForm" (ngSubmit)="submitForm()">
            <div class="row">
                <!-- Nom du Véhicule ok! -->
                <div class="col-lg-6">
                    <label class="label d-block fw-medium mb-10">
                        Nom du Véhicule
                    </label>
                    <mat-form-field>
                        <i-feather name="edit-3"></i-feather>
                        <mat-label>Entrez le nom du Véhicule</mat-label>
                        <input matInput formControlName="nom" />
                    </mat-form-field>

                    <!-- Affichage du message d'erreur si le champ est vide -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('nom')?.invalid &&
                            vehiculeForm.get('nom')?.touched
                        "
                    >
                        Le nom du véhicule est obligatoire.
                    </mat-error>
                </div>

                <!--  Modèle ok! -->
                <div class="col-lg-6">
                    <label class="label d-block fw-medium mb-10">
                        Modèle du Véhicule
                    </label>
                    <mat-form-field>
                        <i-feather name="edit-3"></i-feather>
                        <mat-label>Entrez le modèle du Véhicule</mat-label>
                        <input matInput formControlName="modele" />
                    </mat-form-field>

                    <!-- Affichage du message d'erreur si le champ est vide -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('modele')?.invalid &&
                            vehiculeForm.get('modele')?.touched
                        "
                    >
                        Le modele du véhicule est obligatoire.
                    </mat-error>
                </div>

                <!-- Tag du Véhicule ok! -->
                <div class="col-lg-12">
                    <label class="label d-block fw-medium mb-10">
                        Tag du Véhicule
                    </label>
                    <mat-form-field>
                        <i-feather name="edit-3"></i-feather>
                        <mat-label>Tag du Véhicule</mat-label>
                        <input matInput formControlName="vendu" />
                    </mat-form-field>

                    <!-- Affichage du message d'erreur si le champ est vide -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('vendu')?.invalid &&
                            vehiculeForm.get('vendu')?.touched
                        "
                    >
                        Le nom du véhicule est obligatoire.
                    </mat-error>
                </div>

                <!-- Simple description du Véhicule -->
                <div class="col-lg-12">
                    <label class="label d-block fw-medium mb-10">
                        Simple description du Véhicule
                    </label>
                    <mat-form-field>
                        <i-feather name="minimize"></i-feather>
                        <mat-label
                            >Entrez la courte description du Véhicule</mat-label
                        >
                        <input matInput formControlName="description" />
                    </mat-form-field>
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('description')?.invalid &&
                            vehiculeForm.get('description')?.touched
                        "
                    >
                        Une courte description est obligatoire.
                    </mat-error>
                </div>

                <!-- Description détaillée du Véhicule ok-->
                <div class="col-lg-12">
                    <label class="label d-block fw-medium mb-10">
                        Description détaillée du Véhicule
                    </label>
                    <div class="NgxEditor__Wrapper">
                        <ng-container *ngIf="editor">
                            <ngx-editor-menu
                                [editor]="editor"
                                [toolbar]="toolbar"
                            ></ngx-editor-menu>
                            <ngx-editor
                                [editor]="editor"
                                formControlName="description_detaillee"
                            ></ngx-editor>
                        </ng-container>
                    </div>
                    <!-- Affichage du message d'erreur si la description est vide -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('description_detaillee')
                                ?.invalid &&
                            vehiculeForm.get('description_detaillee')?.touched
                        "
                    >
                        La description est obligatoire.
                    </mat-error>
                </div>

                <!-- Prix OK -->
                <div class="col-lg-6">
                    <label class="label d-block fw-medium mb-10"> Prix </label>
                    <mat-form-field>
                        <i-feather name="dollar-sign"></i-feather>
                        <mat-label>Entrez le prix</mat-label>
                        <input matInput formControlName="prix" type="number" />
                    </mat-form-field>

                    <!-- Affichage d'erreur -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('prix')?.invalid &&
                            vehiculeForm.get('prix')?.touched
                        "
                    >
                        Prix invalide / requis
                    </mat-error>
                </div>

                <!-- Annee OK -->
                <div class="col-lg-6">
                    <label class="label d-block fw-medium mb-10"> Année </label>
                    <mat-form-field>
                        <i-feather name="calendar"></i-feather>
                        <mat-label>Année</mat-label>
                        <input matInput type="number" formControlName="année" />

                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <!-- Affichage d'erreur -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('annee')?.invalid &&
                            vehiculeForm.get('annee')?.touched
                        "
                    >
                        Veuillez entrer une année valide.
                    </mat-error>
                    <mat-error
                        *ngIf="
                      vehiculeForm.get('annee')?.errors?.['pattern'] &&
                      vehiculeForm.get('annee')?.touched
                    "
                    >
                        L'année doit contenir exactement 4 chiffres.
                    </mat-error>

                    <mat-error
                        *ngIf="
                      vehiculeForm.get('annee')?.errors?.['min'] &&
                      vehiculeForm.get('annee')?.touched
                    "
                    >
                        L'année doit être au moins 1900.
                    </mat-error>

                    <mat-error
                        *ngIf="
                      vehiculeForm.get('annee')?.errors?.['max'] &&
                      vehiculeForm.get('annee')?.touched
                    "
                    >
                        L'année ne peut pas être supérieure à {{ currentYear }}.
                    </mat-error>
                </div>

                <!-- Carburant Ok-->
                <div class="col-lg-4">
                    <label class="label d-block fw-medium mb-10">
                        Carburant
                    </label>
                    <mat-form-field>
                        <i-feather name="tag"></i-feather>
                        <mat-label>Sélectionnez le type de carburant</mat-label>
                        <mat-select formControlName="carburant">
                            <mat-option
                                *ngFor="let car of carburants"
                                [value]="car.attributes.id"
                            >
                                {{ car.attributes.type_carburant }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Affichage du message d'erreur si la description est vide -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('carburant')?.invalid &&
                            vehiculeForm.get('carburant')?.touched
                        "
                    >
                        La sélection du type de carburant est obligatoire.
                    </mat-error>
                </div>

                <!-- kilométrage Ok-->
                <div class="col-lg-4">
                    <label class="label d-block fw-medium mb-10">
                        Kilométrage
                    </label>
                    <mat-form-field>
                        <i-feather name="percent"></i-feather>
                        <mat-label>Entrez le kilométrage du Véhicule</mat-label>
                        <input matInput formControlName="kilométrage" />
                    </mat-form-field>
                    <!-- Affichage du message d'erreur si la description est vide -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('kilométrage')?.invalid &&
                            vehiculeForm.get('kilométrage')?.touched
                        "
                    >
                        Le kilométrage est obligatoire.
                    </mat-error>
                </div>

                <!-- Options OK-->
                <div class="col-lg-4">
                    <label class="label d-block fw-medium mb-10">
                        Options
                    </label>
                    <mat-form-field>
                        <i-feather name="tag"></i-feather>
                        <mat-label
                            >Quelles sont les options du véhicule ?</mat-label
                        >
                        <mat-select multiple formControlName="option">
                            <mat-option
                                *ngFor="let opt of options"
                                [value]="opt.attributes.id"
                            >
                                {{ opt.attributes.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Affichage du message d'erreur si la description est vide -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('option')?.invalid &&
                            vehiculeForm.get('option')?.touched
                        "
                    >
                        La sélection des options est obligatoire
                    </mat-error>
                </div>

                <!-- Categorie -->
                <div class="col-lg-6">
                    <label class="label d-block fw-medium mb-10">
                        Categorie
                    </label>
                    <mat-form-field>
                        <i-feather name="shopping-bag"></i-feather>
                        <mat-label
                            >Sélectionnez la catégorie de véhicule</mat-label
                        >
                        <mat-select formControlName="categories">
                            <mat-option selected value="Véhicules usagés"
                                >Véhicules usagés</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                    <!-- Affichage du message d'erreur si la description est vide -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('categories')?.invalid &&
                            vehiculeForm.get('categories')?.touched
                        "
                    >
                        La sélection de la catégorie est obligatoire.
                    </mat-error>
                </div>

                <!-- Marque -->
                <div class="col-lg-6">
                    <label class="label d-block fw-medium mb-10">
                        Marque
                    </label>
                    <mat-form-field>
                        <i-feather name="tag"></i-feather>
                        <mat-label>Sélectionez la marque du véhicule</mat-label>
                        <mat-select formControlName="marque">
                            <mat-option
                                *ngFor="let marque of marques"
                                [value]="marque.attributes.id"
                            >
                                {{ marque.attributes.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Affichage du message d'erreur si la description est vide -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('marque')?.invalid &&
                            vehiculeForm.get('marque')?.touched
                        "
                    >
                        La sélection de la marque du véhicule est obligatoire.
                    </mat-error>
                </div>

                <!-- Transmission -->
                <div class="col-lg-6">
                    <label class="label d-block fw-medium mb-10">
                        Transmission
                    </label>
                    <mat-form-field>
                        <i-feather name="shopping-bag"></i-feather>
                        <mat-label
                            >Sélectionnez la catégorie de véhicule</mat-label
                        >
                        <mat-select formControlName="transmission">
                            <mat-option selected value="Auto">Auto</mat-option>
                            <mat-option selected value="Manuelle"
                                >Manuelle</mat-option
                            >
                            <mat-option selected value="Semi-Auto"
                                >Semi-Auto</mat-option
                            >
                            >
                        </mat-select>
                    </mat-form-field>
                    <!-- Affichage du message d'erreur si la description est vide -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('transmission')?.invalid &&
                            vehiculeForm.get('transmission')?.touched
                        "
                    >
                        La sélection de la transmission est obligatoire.
                    </mat-error>
                </div>

                <!-- Carosserie ok!-->
                <div class="col-lg-6">
                    <label class="label d-block fw-medium mb-10">
                        Carosserie
                    </label>
                    <mat-form-field>
                        <i-feather name="tag"></i-feather>
                        <mat-label
                            >Sélectionez la
                            <!--  -->arosserie du véhicule</mat-label
                        >
                        <mat-select formControlName="carosserie">
                            <mat-option
                                *ngFor="let car of carosseries"
                                [value]="car.attributes.id"
                            >
                                {{ car.attributes.nom }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Affichage du message d'erreur si la description est vide -->
                    <mat-error
                        *ngIf="
                            vehiculeForm.get('carosserie')?.invalid &&
                            vehiculeForm.get('carosserie')?.touched
                        "
                    >
                        La sélection de la carosserie du véhicule est
                        obligatoire.
                    </mat-error>
                </div>
            </div>

            <div class="col-lg-12">
                <!-- Zone Drag & Drop -->
                <ngx-file-drop
                    [dropZoneLabel]="
                        'Déposez et classez les images de votre véhicule ici'
                    "
                    [showBrowseBtn]="false"
                    [multiple]="false"
                    [accept]="'image/*'"
                    (onFileDrop)="onFileDropped($event)"
                >
                </ngx-file-drop>

                <!-- Galerie des images sélectionnées avec Drag & Drop -->
                <div
                    class="gallery"
                    *ngIf="files.length > 0"
                    cdkDropList
                    (cdkDropListDropped)="drop($event)"
                >
                    <div
                        class="gallery-item"
                        *ngFor="let file of files; let i = index"
                        cdkDrag
                    >
                        <img
                            *ngIf="file.previewUrl"
                            [src]="file.previewUrl"
                            [alt]="file.name"
                        />

                        <!-- Bouton de suppression -->
                        <button
                            mat-icon-button
                            color="warn"
                            (click)="removeFile(i)"
                        >
                            <i-feather name="trash-2"></i-feather>
                        </button>
                    </div>
                </div>
            </div>

            <div class="spinner-container" *ngIf="loading; else showButton">
                <mat-progress-spinner
                    mode="indeterminate"
                    diameter="50"
                    color="primary"
                ></mat-progress-spinner>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<ng-template #showButton>
    <div class="create-product-btn">
        <button mat-button type="submit" [disabled]="vehiculeForm.invalid">
            Enregistrer le véhicule
        </button>
    </div>
</ng-template>
