<div
    class="header-area bg-white box-shadow transition"
    [ngClass]="{'active': isToggled}"
>
    <div class="d-md-flex align-items-center justify-content-between">
        <div class="header-left-side d-flex align-items-center">
            <div
                class="burger-menu position-relative transition lh-1"
                [ngClass]="{'active': isToggled}"
                (click)="toggle()"
            >
                <i-feather name="align-left"></i-feather>
            </div>
            <form class="search-box position-relative">
                <input type="text" class="input-search w-100 d-block border-none" placeholder="Search here..">
                <button type="submit" class="bg-transparent p-0 border-none transition">
                    <i-feather name="search"></i-feather>
                </button>
            </form>
        </div>
        <ul class="header-right-side d-flex align-items-center m-0 p-0 list-unstyled">
            <li>
                <button
                    mat-button
                    (click)="toggleTheme()"
                    class="dark-swtich-btn"
                    [class.active]="toggleService.isDark()"
                >
                    <i-feather name="moon"></i-feather>
                </button>
            </li>
           
            
            <li>
                <div class="date-btn position-relative">
                    <i-feather name="calendar"></i-feather> {{ formattedDate }}
                </div>
            </li>
          
            <li>
                <button mat-button [matMenuTriggerFor]="profileMenu" class="profile-menu-btn">
                    <img src="{{concessionnaire?.logo}}" class="rounded-circle" alt="{{concessionnaire?.nom}}">
                </button>
                <mat-menu class="profile-menu-dropdown" #profileMenu="matMenu" xPosition="before">
                    <div class="menu-header d-flex align-items-center">
                        <img src="{{concessionnaire?.logo}}" class="rounded-circle" alt="{{concessionnaire?.nom}}">
                        <div class="title">
                            <a routerLink="/my-profile" class="d-inline-block fw-medium">
                               {{concessionnaire?.nom}}
                            </a>
                        </div>
                    </div>
                    <ul class="menu-body pl-0 mb-0 mt-0 list-unstyled">
                       
                        <li class="position-relative transition fw-medium">
                            <i class="material-symbols-outlined">
                                logout
                            </i>
                            Logout
                            <a (click)="logout()" class="link-btn d-block position-absolute left-0 right-0 top-0 bottom-0 z-1"></a>
                        </li>
                    </ul>
                </mat-menu>
            </li>
        </ul>
    </div>
</div>