<!-- Breadcrumb -->
<div class="mb-25">
    <h5 class="m-0">
        Radar Charts
    </h5>
</div>

<!-- Radar Charts -->
<div class="row">
    <div class="col-lg-6 col-xxxl-4">

        <!-- Basic Radar Chart -->
        <app-basic-radar-chart />

    </div>
    <div class="col-lg-6 col-xxxl-4">

        <!-- Multiple Radar Chart -->
        <app-multiple-radar-chart />

    </div>
    <div class="col-lg-6 col-xxxl-4">

        <!-- Polygon Radar Chart -->
        <app-polygon-radar-chart />

    </div>
</div>