::ng-deep {
    .inputs-with-ps-card {
        .mat-mdc-form-field-flex {
            position: relative;
        }
        .mat-mdc-form-field-infix {
            position: unset;
        }
        .mat-mdc-form-field-text-prefix {
            position: relative;
            top: -6px;
        }
    }
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.example-full-width {
    width: 100%;
}
.example-form-field {
    width: 200px;
}