<div class="sign-in-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="trinta-form ml-auto mr-auto bg-white border-radius">
                <div class="title text-center">
                    <h3>Se connecter</h3>
                </div>

                <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="label d-block fw-medium mb-10">
                            Adresse email
                        </label>
                        <mat-form-field>
                            <i-feather name="mail"></i-feather>
                            <mat-label>Entrez l'adresse e-mail</mat-label>
                            <input
                                matInput
                                type="email"
                                id="email"
                                formControlName="email"
                            />
                        </mat-form-field>
                        <div
                            class="error text-danger"
                            *ngIf="
                                authForm.get('email')!.hasError('required') &&
                                authForm.get('email')!.touched
                            "
                        >
                            L'e-mail est obligatoire.
                        </div>
                        <div
                            class="error text-danger"
                            *ngIf="
                                authForm.get('email')!.hasError('email') &&
                                authForm.get('email')!.touched
                            "
                        >
                            S'il vous plaît, mettez une adresse email valide.
                        </div>
                    </div>
                    <div
                        class="spinner-container"
                        *ngIf="loading; else showButton"
                    >
                        <mat-progress-spinner
                            mode="indeterminate"
                            diameter="50"
                            color="primary"
                        ></mat-progress-spinner>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #showButton>
    <button mat-button type="submit" [disabled]="authForm.invalid">
        Envoyer un code de vérification
    </button>
</ng-template>
