section {
    display: table;
}
.example-label {
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
    display: table-cell;
}
.example-button-row {
    display: table-cell;
    max-width: 600px;
}
.example-button-row .mat-mdc-button-base {
    margin: 12px 12px 12px 0;
}
.example-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.example-button-container {
    justify-content: center;
    display: flex;
    width: 120px;
}